<div class="container d-flex justify-content-center flex-column mt-4 p-5 w-75">
    <div class="avatar d-flex justify-content-center">
      <span class="d-flex justify-content-center points mt-5 mr-2 h5">185 <i class="fa-solid fa-star"></i></span>
      <%= image_tag("avatar.png", alt: "avatar", class: "img-fluid", style: "max-width: 29  px; height: auto;") %>
    </div>
  <div class="row mt-5">
    <div class="d-flex justify-content-between row-gold">
      <div class="cardx">
        <p class="headingu">Prêmio:</p>
        <p>Fones de Ouvidos</p>
        <p>Gymfication</p>
      </div>
      <div class="cardx">
        <p class="headingu">Prêmio:</p>
        <p>Cupom</p>
        <p>Gymfication</p>
      </div>
      <div class="cardx">
        <p class="headingu">Prêmio:</p>
        <p>Viagem</p>
        <p>Gymfication</p>
      </div>
    </div>
  <div>
    <div class="row mt-5">
    <div class="d-flex justify-content-between row-silver">
      <div class="cardx">
        <p class="headingu">Prêmio:</p>
        <p>Equipamento de ginástica</p>
        <p>Gymfication</p>
      </div>
      <div class="cardx">
        <p class="headingu">Prêmio:</p>
        <p>Folgas</p>
        <p>Gymfication</p>
      </div>
      <div class="cardx">
        <p class="headingu">Prêmio:</p>
        <p>Ingresso para evento</p>
        <p>Gymfication</p>
      </div>
    </div>
  <div>
    <div class="row mt-5">
    <div class="d-flex justify-content-between row-bronze">
      <div class="cardx">
        <p class="headingu">Prêmio:</p>
        <p>Whey Protein e camiseta</p>
        <p>Gymfication</p>
      </div>
      <div class="cardx">
        <p class="headingu">Premio:</p>
        <p>Vale-massagem</p>
        <p>Gymfication</p>
      </div>
      <div class="cardx">
        <p class="headingu">Premio:</p>
        <p>Consulta Nutricional</p>
        <p>Gymfication</p>
      </div>
    </div>
  <div>
</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Desafio</th>
      <th scope="col">Pontuação</th>
    </tr>
  </thead>

  <tbody>

    <% @challenges.each do |challenge| %>
    <tr>
      <th scope="row">°</th>
      <td><%=challenge.title%></td>
      <td><%=challenge.points%></td>
    </tr>
      <% end %>

  </tbody>
</table>
